h1,h2,h3,ol,ul{margin-top:0;margin-bottom:20px}
blockquote,body{background:#eaebec}
.btn,img{vertical-align:middle}
.btn,a{cursor:pointer}
#footer,.btn{word-wrap:break-word}
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
a, .banner-body span, .banner-footer span{background-color:transparent;color:#1272c5;text-decoration:none}
.banner-footer span{text-decoration: underline;}
a:active,a:hover{outline:0}
b,strong{font-weight:700}
body,h1,h2,h3{font-weight:400}
img{border:0}
*,:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
body{margin:0;color:#1d1f21;font-family:Arial,sans-serif;font-size:16px;line-height:1.5}
a:focus,a:hover{color:#d5131a;text-decoration:underline;outline:0}
.img-responsive{display:block;max-width:100%;height:auto}
h1,h2,h3{font-family:inherit;line-height:1.1;color:inherit}
.banner-header,.blog-body a,.btn,.strong,strong,.banner-body span, .banner-footer span{font-weight:700}
h1{font-size:36px}
h2{font-size:28px}
h3{font-size:20px;line-height:1.3}
@media (max-width :767px){h1{font-size:24px}
h2{font-size:20px}
h3{font-size:16px;line-height:1.5}
}
p{margin:0 0 20px}
.small,small{font-size:75%}
.text-muted{color:#6c757c}
.text-center{text-align:center}
.text-left{text-align:left}
.text-red{color:#d5131a}
blockquote{padding:15px 20px;margin:25px 0 30px;font-size:16px;border-left:3px solid #eb1f26}
.btn,blockquote ol:last-child,blockquote p:last-child,blockquote ul:last-child{margin-bottom:0}
.btn{display:inline-block;text-align:center;-ms-touch-action:manipulation;touch-action:manipulation;background-image:none;white-space:normal;padding:15px 40px;font-size:24px;line-height:1.3;border-radius:6px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;color:#fff;background-color:#eb1f26;border-bottom:6px solid #970d12}
.btn:active,.btn:focus,.btn:hover{text-decoration:none;outline:0;color:#fff;background-color:#d5131a}
@media (max-width :767px){.btn{display:block;padding:15px}
}
.clearfix:after,.clearfix:before,.container:after,.container:before{content:" ";display:table}
.clearfix:after,.container:after{clear:both}
@media (min-width :768px){.pull-left{float:left}
	.pull-right{float:right}
}
.container{margin-right:auto;margin-left:auto;padding-left:20px;padding-right:20px;max-width:992px}
#header{background:#fff;position:relative;box-shadow:0 2px 3px 0 rgba(0,0,0,.15)}
#header .disclaimer{font-size:14px;line-height:20px;}
#header .logo{float:left;margin:20px 0; height:40px;width:228px;background-size:228px 40px}
#header .nav{float:right;list-style:none;margin:0;padding:0}
#header .nav>li{float:left;display:block}
#header .nav>li>span{display:block;padding:20px 0;margin-left:40px;line-height:40px;color:#fff;font-size:14px}
#header .nav>li>a{text-decoration:none;display:block;padding:20px 0;margin-left:40px;line-height:40px;color:#6c757c;font-size:14px}
#header .nav>li.active>a{color:#1d1f21;box-shadow:inset 0 -3px 0 #1f8ceb;text-decoration:none}
#header .nav>li.active>a:hover,#header .nav>li>a:focus,#header .nav>li>a:hover{color:#1f8ceb;text-decoration:none}
#footer,#footer .about a,#footer .about a:focus,#footer .about a:hover,#footer .about a:visited{color:#3d4245}
#footer{font-size:12px}
#footer .about,#footer .disclaimer p:first-child{font-size:14px}
#footer .disclaimer{padding:40px 0 30px;background:#eaebec}
#footer .disclaimer p:last-child{margin:0}
#footer .about{padding:30px 0;line-height:1;background:#d7dadc}
#footer .about a+a, #footer .about span+span{margin-left:20px}
#main{background:#fff;padding:40px 0 0 0}
@media (max-width :767px){#main{padding:20px 0}
#footer .about .pull-left{margin-bottom:10px} .disclaimer .contTxt{text-align: left;}.disclaimer .contTxt{text-align: left !important;padding-left: 20px;}
}
.blog,.blog-body,.blog-post,.blog-sidebar{position:relative;min-height:1px}
.blog-body,.blog-post,.blog-sidebar{margin-bottom:40px}
@media (min-width :992px){.blog-post{float:left;width:612px}
.blog-sidebar{width:300px;float:right}
}
.blog-body .blog-img{float:right;margin:0 0 20px 20px;width:40%;max-width:240px}
.banner{background:#eaebec;padding:15px 20px;margin-bottom:40px}
.banner-header{font-size:18px;line-height:1.2;margin-bottom:10px;color:#1272c5}
.banner-subheader{line-height:1.4;margin-bottom:15px;font-weight:700;font-size:14px}
.banner-body{margin:0 20px 15px}
.banner-body a{font-size:14px;padding:0;width:100%;float:left;line-height:1.8}
.banner-body span{font-size:14px;padding:0;width:100%;float:left;line-height:1.8}
.banner-col-2 a{width:50%}
.banner-col-2 span{width:50%}
.banner-body a img{vertical-align:text-top;margin-right:5px}
.banner-body span img{vertical-align:text-top;margin-right:5px}
.banner-footer{line-height:1.2}
.banner-footer a{text-decoration:underline}
.custom-nav{display: none;}
nav.nav_menu div:first-child{
	float: left;
    height: 80px;
    margin: 0;
    width: 228px;
	padding-top: 5px;
}
nav.nav_menu div img{
	padding: 0 !important;
}
.disclaimer .contTxt{
	max-width: 992px;
	margin: 0 auto;
	text-align: right;
	padding-right: 20px;
}
