/* Navigation styling */
.nav_menu {
}
.nav-list {
	
}
.nav-item {
	float:left;
	*display:inline;
	zoom:1;
}
.nav-item a {
	display:block;
}
.nav-item:first-child a {
}
.nav-item:last-child a {
}
.nav-item a:hover {
}
/* Mobile Navigation */
.nav-mobile {
	display:none; /* Hide from browsers that don't support media queries */
	cursor:pointer;
	position:absolute;
	right: 10px;
    top: 36px;
	
	height:40px;
	width:40px;
}

#header .nav-active > li > a, #header .nav-active > li > span {
    color: #6c757c;
    display: inline-block;
    font-size: 14px;
    line-height: 40px;
    margin: 0;
    padding: 10px 0 0;
    width: 100%;
}

#header .nav-active > li {
    display: block;
    float: none;
    text-align: center;
    width: 100%;
}

/*------------------------------------*\
    Media Queries
\*------------------------------------*/

@media only screen and (min-width: 320px) and (max-width: 768px) {
	.nav-mobile {
		display:block;
	}
	.nav_menu {
		width:100%;
		/*padding:40px 0 0;*/
		padding: 0;
	}
	.nav-list {
		display:none;
	}
	.nav-item {
		width:100%;
		float:none;
	}
	.nav-item a {
	}
	.nav-item:first-child a {
	}
	.nav-item:last-child a {
	}
	.nav-active {
		display:block;
		float: none !important;
	}
	.nav-mobile-open {
	}
	#logo{
		float: left;
    	width: calc(100% - 50px);
	}
	#logo img{
		height: auto;
    	width: 100%;
		max-width:370px;
	}
}